*.DS_Store
*.csv
*.xls
*.pdf
*.pptx
*.docx
.gitignore
practice.ipynb

0104_python+pandas/refer
0104_python+pandas/input_data
0104_python+pandas/output_data
0104_git_ignore

0105_crawling/0105_Beautifulsoup_prac.ipynb
0105_crawling/chrome-mac-arm64
0105_crawling/0105_Selenium_prac.ipynb
0105_crawling/crawling_practice.ipynb
!codi.csv
0105_huggingFace

0109_DB+SQL/w3school.sql
0109_EDA+FE/data
0109_EDA+FE/추가과제
0109_EDA+FE/prac.ipynb
0109_EDA+FE/EDA_FE_세션(EDA).ipynb
0109_EDA+FE/EDA_FE_세션(FE).ipynb
0109_EDA+FE/Seaborn_(그래프모음).ipynb

0111_linux+docker/dockerfile
0111_restAPI/240111_REST_API_실습.ipynb

0116_statistics+regression/0116_regression_prac.ipynb
0116_visualization/0116_visualization_prac.ipynb

0118_ML/dataset
0118_ML/prac.ipynb
0118_ML/ML_실습_및_과제.ipynb
0118_MLP/data

0119_CNN/CNN추가과제.ipynb
!CNN.pdf

0123_RNN/additional
0123_RNN/rnn_mit.ipynb

0123_seq2seq+attention
0125_transformer